{% extends "base.html" %}

{% block content %}

<div class="columns">
  <div class="column is-full">
    <h1 class="title">Dareer</h1>
    <p class="subtitle">
      The project aims to build a full-stack website that allows students,
      professors, and department staff to easily interact with a back-end database
      that containing all CS alumni career path information.
    </p>
  </div>
</div>

<div class="columns">
  <div class="column">
    <p>
      The main page is still under development. Directly go to admin portal:
    </p>
  </div>
  <div class="column">
    <button onclick="window.location.href='/admin'" class="button is-info">Admin Portal</button>
  </div>
</div>

{% endblock %}